{% extends 'layouts/app.twig' %}
{% block title %} Blog {% endblock %}
{% block content %}
    
    <h4 class='text-danger'><strong>Blogs</strong></h4>
    <hr />
    <div class='row'>
        <div class='col-md-2 text-center'>
            <img src='/images/designer.png' style='width:70%; hieght:70%'>
            <p><small>ArcAngel</small></p>
        </div>  
        <div class='col-md-10 text-left'>
            <h4 class='text-danger'><code>THE BEST WAY TO BUY PRODUCT ONLINE</code></h5>
            <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                </small>
            </p>
            <small class='text-danger'><b><a href="{{ path_for('blogview', {id:1}) }}">Read More</a></b></small>
        </div>      
    </div>
    <hr />

    <div class='row'>
        <div class='col-md-2 text-center'>
            <img src='/images/designer.png' style='width:70%; hieght:70%'>
            <p><small>ArcAngel</small></p>
        </div>  
        <div class='col-md-10 text-left'>
            <h4 class='text-danger'><code>STARTING AN ONLINE BUSINESS IN NIGERIA</code></h5>
            <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                </small>
            </p>
            <small class='text-danger'><b><a href="{{ path_for('blogview', {id:1}) }}">Read More</a></b></small>
        </div>      
    </div>
    <hr />


    <div class='row'>
        <div class='col-md-2 text-center'>
            <img src='/images/designer.png' style='width:70%; hieght:70%'>
            <p><small>ArcAngel</small></p>
        </div>  
        <div class='col-md-10 text-left'>
            <h4 class='text-danger'><code>NINTY ONE BEST SELLING HABIT YOU MUST HAVE</code></h5>
            <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                </small>
            </p>
             <small class='text-danger'><b><a href="{{ path_for('blogview', {id:1}) }}">Read More</a></b></small>
        </div>      
    </div>
    <hr />


    <div class='row'>
        <div class='col-md-2 text-center'>
            <img src='/images/designer.png' style='width:70%; hieght:70%'>
            <p><small>ArcAngel</small></p>
        </div>  
        <div class='col-md-10 text-left'>
            <h4 class='text-danger'><code>THE REASON I FOLLOWED WARREN BUFFET</code></h5>
            <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                </small>
            </p>
       <small class='text-danger'><b><a href="{{ path_for('blogview', {id:1}) }}">Read More</a></b></small>
        </div>      
    </div>
    <hr />


    <div class='row'>
        <div class='col-md-2 text-center'>
            <img src='/images/designer.png' style='width:70%; hieght:70%'>
            <p><small>ArcAngel</small></p>
        </div>  
        <div class='col-md-10 text-left'>
            <h4 class='text-danger'><code>HOW TO NEVER MAKE A LOSE ON ONLINE BUSINESS</code></h5>
            <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                </small>
            </p>
         <small class='text-danger'><b><a href="{{ path_for('blogview', {id:1}) }}">Read More</a></b></small>
        </div>      
    </div>
    <hr />


    <div class='row'>
        <div class='col-md-2 text-center'>
            <img src='/images/designer.png' style='width:70%; hieght:70%'>
            <p><small>ArcAngel</small></p>
        </div>  
        <div class='col-md-10 text-left'>
            <h4 class='text-danger'><code>WHY ARCANGEL IS THE BEST BAG PRODUCT IN NIGERIA</code></h5>
            <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                </small>
            </p>
          <small class='text-danger'><b><a href="{{ path_for('blogview', {id:1}) }}">Read More</a></b></small>
        </div>      
    </div>
    <hr />


    
{% endblock %}